@import "../../styles/variables.scss"; 


.ProductListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    .BreadCrumbContainer{
        max-width: 1000px;
        width: 100%;
    }
    .ProductList{
        max-width: 1000px;
        width: 100%;
        .Product{
            max-width: 1000px;
            background-color: #fff;
            border-bottom: thin solid $bg-gray;
            .ProductContainer{
                display: flex;
                text-decoration: none;
                color: $base-black;
                padding: 16px;
                .ProductImage{
                border-radius: 4px;
                }
                .ProductInfoContainer{
                    flex: 1;
                    margin-left: 16px;

                    .ProductPriceContainer{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        margin-bottom: 32px;
                        margin-top: 16px;
                        .ProductPrice{
                            display: flex;  
                            font-size: 1.5rem;
                            .ProductAmount{
                                margin-left: 16px;
                            }
                            .ProductPriceDecimals{
                                font-size: 1rem;
                                margin-left: 4px;
                                line-height: 1.5rem;
                            }
                        }
                        
                    }
                    .ProductTitle{
                        margin-top: 0;
                        max-width: 300px;
                        font-size: 1.125rem;
                    }

        
                }
            }
        
        }

        @media (max-width: 768px){
            .Product{
                .ProductContainer{
                    flex-direction: column;
                    .ProductImage{
                        width: 100%;
                        margin-bottom: 16px;
                        object-fit: contain;
                    }
                    .ProductInfoContainer{
                        margin-left: 0;
                        display: flex;
                        flex-direction: column;
                        
                        .ProductPriceContainer{
                            margin-bottom: 16px;
                            order: 2;
                            margin-top: 0;
                        }
                        .ProductTitle{
                            max-width: 100%;
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}