@import '../../styles/variables.scss';

.BreadCrumbContainer{
    .BreadCrumb{
        display: flex;
        padding: 16px 0;
        font-size: 0.875rem;
        color: #999;
        background-color: $bg-gray;
        li{
            display: flex;
            align-items: center;
            &:after{
                content: ">";
                margin: 0 10px;
            }
            &:last-child{
                &:after{
                    content: '';
                }
            }
        }
        
    }
}
